# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
build/

# Environment files
.env
.env.local
.env.production

# Uploads & Temp
uploads/
temp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor / Deployment files
.DS_Store
Thumbs.db
.vscode/
.idea/
.vercel/
*.txt

